<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Shoppers Stop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/register">REGISTER</a></li>
      </ul>
    </div>
  </nav>
  <br>


    <div class="container">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h4 class="card-title mb-4 mt-1">Signup</h4>
                    <form [formGroup]="registerForm" style="width: 450px">
                        <table>
                            <tr>
                                <td>Name :</td>
                                <td><input type="text" formControlName="name" class="form-control" 
                                    name="name" placeholder="Enter Name" [(ngModel)]="name" required></td>
                            </tr>
                            <tr>
                                <td>Username :</td>
                                <td><input type="text" formControlName="username" class="form-control" 
                                    name="username" placeholder="Enter Username" [(ngModel)]="username" required></td>
                            </tr>
        
                            <tr>
                                <td>Password :</td>
                                <td><input type="password" formControlName="password" class="form-control" 
                                    name="password" placeholder="Enter Password" [(ngModel)]="password" required></td>
                            </tr>

                            <tr>
                                <td>Mobile :</td>
                                <td><input type="text" formControlName="mobile" class="form-control" 
                                    name="mobile" pattern="[6789][0-9]{9}" placeholder="Enter Mobile" 
                                    [(ngModel)]="mobile" required></td>
                            </tr>
                            
                            <tr>
                                <td>Email :</td>
                                <td><input type="email" formControlName="email" class="form-control" 
                                    name="email" placeholder="Enter Email" [(ngModel)]="email" required></td>
                            </tr>
                            <tr>
                                <td>Role :</td>
                                <td><select name="role" 
                                    class="form-control" formControlName="role" 
                                    [(ngModel)]="role" required>
                                    <option value="admin">admin</option>
                                    <option value="user">user</option>
                                </select>
                                </td>
                            </tr>
                            <tr style="text-align: right">                        
                                <td><input type="button" class="btn btn-success" value="REGISTER" (click)="signup()"/></td>
                                <td> <a href="">Already have an account? Click here to login</a></td>
                            </tr>
                        </table>
                    </form>
                </div>
        </div>
</div>

<app-footer></app-footer>
